mat-table {
  width: 100%;
  margin-bottom: 16px;
}

.mat-column-employee {
  flex: 1;
}

.mat-column-startDate,
.mat-column-endDate {
  flex: 1;
}

.mat-column-status {
  flex: 0.5;
}

.clickable-table {
  .mat-mdc-row {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}